button{
    /* width: 100%; */
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 15px;
    color: white;
    border: 1px solid #ddd;
    outline: 0;
    cursor: pointer;
    transition: 0.3s ease-out;
    margin: 15px;
    font-size: 30px;
}

button:hover{
    background-color: green;
}
